Frontend/.gitignore
Frontend/.zed
Frontend/.gitkey.pub
Frontend/.gitkey
Frontend/.air.toml
Frontend/tmp
.buildCommands
Services/rust-audio/target
Frontend/node_modules
.secret/
backend.tar.gz
caddy.tar.gz
frontend.tar.gz
rust-audio.tar.gz
