package settings


templ Merge() {
	<div>
   <h3 class="text-lg font-semibold mb-3">Output Format</h3>
   <select name="format" class="select select-bordered w-full">
     <option value="mp3" selected>MP3</option>
     <option value="wav">WAV</option>
     <option value="flac">FLAC</option>
     <option value="ogg">OGG</option>
     <option value="opus">OPUS</option>
     <option value="aiff">AIFF</option>
   </select>
 </div>


}
