package settings

import (
	"strings"
	"frontend/static/data"
)

templ Merge(target string) {
	<div>
	if target == ""{
		<h3 class="text-lg font-semibold mb-3">Output Format</h3>
		<select name="format" class="select select-bordered w-full">
			for _, item := range data.FormatNames {
				<option value={ strings.ToLower(item) } selected>{ item }</option>
			}
		</select>
	} else {
		<input type="radio" name="format" value={ strings.ToLower(target) } class="hidden" checked />
	}

 </div>


}
