package head

templ MetaData(title, description, canonical string) {
    <title hx-swap-oob="true" id="page-title">{ title }</title>

    <meta hx-swap-oob="true" id="page-description" name="description" content={ description } />

    <link hx-swap-oob="true" id="page-canonical" rel="canonical" href={ canonical }/>
}
